.App {
    min-height: 100vh;
    background:  #00ff00;
  }
  
  .container {
    width: 350px;
    margin: 0 auto;
    padding-top: 200px;
  }
  
  .generator {
    background: #009900;
    border-radius: 3px;
    box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
    padding: 20px;
    border: 1 solid;
    border-radius: 10%;
  }
  
  .generator__header {
    text-align: center;
    color:black;
    margin-bottom: 20px;
  }
  
  .generator__password {
    position: relative;
    background: rgba(0, 0, 0, 0.4);
    padding: 13px 10px;
    color: #fff;
    height: 46px;
    margin-bottom: 15px;
  }
  
  .copy__btn {
    position: absolute;
    background: #003300;
    color: #fff;
    border: none;
    height: 40px;
    padding: 10px;
    cursor: pointer;
    top: 3px;
    right: 3px;
  }
  
  .generator__btn {
    background: #00ff00;
    border: none;
    display: block;
    width: 100%;
    padding: 10px;
    color: black;
    font-size: 17px;
    cursor: pointer;
    border: 1 solid;
    border-radius:10px;
  }
  
  .form-group {
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin-bottom: 15px;
  }
