.App {
    min-height: 100vh;
    background:  #00ff00;
  }
  
  .container {
    width: 350px;
    margin: 0 auto;
    padding-top: 200px;
  }
  
  .generator {
    background: #009900;
    border-radius: 3px;
    box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
    padding: 20px;
    border: 1 solid;
    border-radius: 10%;
  }
  
  .generator__header {
    text-align: center;
    color:black;
    margin-bottom: 20px;
  }
  
  .generator__password {
    position: relative;
    background: rgba(0, 0, 0, 0.4);
    padding: 13px 10px;
    color: #fff;
    height: 46px;
    margin-bottom: 15px;
  }
  
  .copy__btn {
    position: absolute;
    background: #003300;
    color: #fff;
    border: none;
    height: 40px;
    padding: 10px;
    cursor: pointer;
    top: 3px;
    right: 3px;
  }
  
  .generator__btn {
    background: #00ff00;
    border: none;
    display: block;
    width: 100%;
    padding: 10px;
    color: black;
    font-size: 17px;
    cursor: pointer;
    border: 1 solid;
    border-radius:10px;
  }
  
  .form-group {
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin-bottom: 15px;
  }
  input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  
  .number-input {
    width: 65px;
    border: 1px solid #ccc;
    display: inline-flex;
  }
  
  .number-input,
  .number-input * {
    box-sizing: border-box;
  }
  
  .number-input button {
    outline:none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    margin: 0;
    position: relative;
  }
  
  .number-input button:before,
  .number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: .5rem;
    height: 2px;
    background-color: #212121;
    transform: translate(-50%, -50%);
  }
  .number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  
  .number-input input[type=number] {
    font-family: sans-serif;
    max-width: 35px;
    padding: .5rem;
    border: solid #ccc;
    border-width: 0 2px;
    font-size: .7rem;
    height: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 65px;
    height: 28px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #00ff00;
  }
    
  input:checked + .slider:before {
    -webkit-transform: translateX(33px);
    -ms-transform: translateX(33px);
    transform: translateX(33px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  